<f:if condition="{data.use_gallery_lib} == 'justified-gallery'">
    <f:asset.css identifier="justified-gallery-css" href="EXT:sitepackage/Resources/Public/Css/justifiedGallery.min.css" />
    <f:asset.script identifier="jquery-justified-gallery-library" src="EXT:sitepackage/Resources/Public/JavaScript/Dist/jquery.justifiedGallery.min.js" />
    <f:asset.script identifier="jquery-justified-gallery-script" src="EXT:sitepackage/Resources/Public/JavaScript/Dist/justifiedGalleryStart.js" />
</f:if>
